body {
    background-color: #F8FAFD;
    font-family:sans-serif, Verdana, sans-serif;
}

header{
    text-align: center;    
}

.text-center{
    text-align:center;
}
#success{
    text-transform: uppercase;
    margin:50px;
    padding:150px;
    color:#F8FAFD;
    font-size:200%;
    text-align:center;
    background: url('https://images.pexels.com/photos/10117827/pexels-photo-10117827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')center center / cover no-repeat fixed;
}

.welcome{
    text-align:center;
}

#offers{
    border-radius:30px;
    margin: 20px;   
    font-size:200%;
    color: #F8FAFD;
    
}
/*
#image{
    background: url('https://images.pexels.com/photos/6174874/pexels-photo-6174874.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
   
    border-radius: 30px;
}
*/

#card{
    border-radius: 30px;
    padding:30px;
    margin:50px 200px 50px 200px ;
    background-color:#F0C9B3;
}