body {
    background-color: rgb(235, 221, 230);
    font-family:sans-serif, Verdana, sans-serif;
}

h1{
    
}
#success{
    text-transform: uppercase;
    font-size:200%;
    text-align:center;
    padding:50px;
    margin:50px;
}