/* main body styling*/
body {
    background-color: white;
    font-family:'Courier New', Courier, monospace;
    margin: 0 auto;
}

.text-center{
    text-align:center;
}

.text-uppercase{
    text-transform: uppercase;
}

h2 {
        text-align: center;
        font-size: 3rem;
        color:#7e5870;
}

.text-center{
    text-align: center;   
}

.text-white{
    color:white;
}

.strong{
    font-weight:bold;
}

a {
    color:white;

}

/*Header Styline*/
header{
    text-align: center;
    color:#9f7992;
    border-radius: 30px;
}

.heading{
        font-size:2rem;
        font-weight: bold;
        background: url('https://images.pexels.com/photos/7110090/pexels-photo-7110090.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        margin:0px;
        padding-top: 10px;
        padding-bottom:10px;
}

p > h1{
    font-size:150%;
}

/*Nav Bar Styling*/
.nav-background{
    background-color:#7e5870;
}

nav{
    display: block;
    padding:1rem;
    font-size: 1.5rem;
    border-radius: 30px;
    border-top-style: outset;
}

/*Footer*/
footer{
    background-color:#7e5870;
    padding:10px;
    font-size:1.5rem;
    height: auto;
    color:white;
    border-radius: 30px;
}

.social-networks > li{
        display: inline ;
}

/*Home Page */
/*About Us*/
.about{
    text-align: center;
    border-radius: 30px;
    padding:30px;
    margin:50px 200px 50px 200px ;
    background-color:#86297ff6;
}

.info{
    color: #fffdfd;
    border-radius:30px;
    margin: 20px;   
    font-size:2rem;
    font-weight: 400;
    text-align: center;
}

/*What you will find*/
.welcome{
    text-align:center;
    font-size:50px;
}

.card{
    border-radius: 30px;
    padding:30px;
    margin:auto;
    background-color:#86297ff6;
    background-image: url('https://images.pexels.com/photos/6174874/pexels-photo-6174874.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    border-bottom-style: inset;
}

#offers{
    border-radius:30px;
    margin: auto;   
    font-size:2rem;
    text-align: center;
    color: #F8FAFD;
}

/*Menu Items*/
.menu-box {
    display: inline-flex;
    height: 420px;
    width: 400px;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    font-size: 2rem;
    padding: 10px;
    flex-direction: column;
    border-radius: 30px;
    border-style: inset;
    align-content: flex-start;
}

#milkshake, #tray-bake{
    background-color:#86297ff6; 
}

#cupcake{
    background-color:#7e5870;
}

ul {

    list-style-type: none;
    display: flow-root;
}

li{
    margin:10px 0px 0px 10px;
}

@media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
}
/*Contact Us*/

.contact{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    border-bottom-style: inset;
}

.contact-details{
    height:250px;
    width:350px;
    padding:30px;
    font-size:1.5rem;
    border:solid;
    border-color: #9f7992;
    border-width: 5px;
}

#address, #opening {
    border-color:#86297ff6;
}

#opening {
    text-align-last: center;
    display: grid;
}

/*Cake Competition Page*/
.entry-details {
    padding:10px;
    height:fit-content;
    width:auto;
    font-size:20px;
}

.name{
    display: inline;
}

form{
    width:70%;
    padding:20px;
    margin: 0 auto;
    background-color:#ffffff;
}

fieldset{
    border:dotted 4px #B7A1A6 ;
    height: auto;
    width: 90%;
    margin: 1.5rem 0 0 15px;
}

#feedback{
    padding:15px;
    border: dotted #B7A1A6 2px;
    height: auto;
    width: 70%;
}

#terms{
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 4px dotted #B4AAA9;
    overflow: scroll;
}

.acceptterms{
    padding-top:15px;
}

input[type=submit]{
    margin-top:75px;
    margin-bottom:0.5rem;
    padding:10px;
    font-size:25px;
    background-color:#B4AAA9 ;
    color:white;
    border:dotted;
    border-radius:50%; 
}

input[type=reset]{
    margin-top: 75px;
    margin-top:0.5rem;
    padding:10px;
    font-size:1rem;
    background-color:#81706ff8;
    color:white;
    border:dotted;
    border-radius:50%;
}

/*Success Page Styling*/
#success{
    text-transform: uppercase;
    margin: 0 auto;
    padding: 15%;
    font-size: 125%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type=button] {
        margin-top: 0.5rem;
        padding: 1rem;
        font-size: 2rem;
        background-color: #86297ff6;
        color: #f8fafd;
        border: dotted;
        border-radius: 50%;
}

.success{
    background-image: url(https://images.pexels.com/photos/7723819/pexels-photo-7723819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    height: 100%;
    width: 100%;
}